body {
	//Begin  slider3 CSS
	#slider3  {
		margin: 20px auto;
		width: 640px;	
		.slider-visible-area {
			height: 150px;
		}	
		.slider-nav {
			.slider-bullets {
				.slider-bullet.slider-highlight-slide {
					color: #f00;
				}
			}
		}
	}	
}