body{
	//Begin  slider1 CSS
	#slider1 {
		margin: 20px auto;
		width: 640px;	
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}		
		.slider-visible-area {
			height: 150px;
		}
		.slider-nav {
			.slider-numbers {
				.slider-number.slider-highlight-slide {
					background: #f00;
					border-radius: 3px;
					color: #fff;  	
					padding: 3px;				
				}
			}
		}
	}	
}