@import "../../src/css/sass/includes/bourbon/bourbon";
@import "../../src/css/sass/includes/config";
@import "../../src/css/sass/includes/foundation";
@import "../../src/css/sass/includes/mixins";

body {
	hr {
		width: 70%;
	}	 
	
	font-family: arial,  helvetica, sans-serif;
	font-size: 1em;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.wrapper {
		margin: 0 auto;
		position: relative;
		width: 100%;
		header {
			margin: 0 0 30px 0;
			text-align: center;
			h1 {
				font-size: 2em;
			}
			@include clearfix();
		}//end #main-header	
		main {
			.content {
				margin: 0 auto;
				text-align: center;		
				p {
					margin: 10px 0;
					text-align: center;				
				}//end p



				.example-code {
					background-color: #1b2426 !important;
					border: 1px solid #ccc;
					border-radius: 4px;		
					font-size: 1em;			
					margin: 0 auto;
					text-align: left;					
					@include media(tablet) {
						font-size: 1.5em;
						padding: 5px;
						width: 70%;
					}
					@include media(mediumDesktop) {
						font-size: 1.5em;
						padding: 5px;
						width: 70%;
					}         
					@include media(largeDesktop) {
						font-size: 1.5em;
						padding: 5px;
						width: 70%;
					} 					
					.example-code-table {
						border: 0;
						margin: 0 auto;
						width: 370px;
						@include media(tablet) {
							width: 100%;
						}
						@include media(mediumDesktop) {
							width: 100%;
						}         
						@include media(largeDesktop) {
							width: 100%;
						} 						
						tbody {
							tr {
								.gutter {
									color: #afafaf !important;
									width: auto !important;
									.line-number {
										border-right: 3px solid #435a5f !important;
									}
								}
								.code {
									padding: 0 0 0 15px;
									span {
										display: inline-block;
										margin: 0;
										padding: 0 !important;								
									}
									.keyword {
										color: #5ba1cf !important;
									}			
									.plain {
										color: #b9bdb6 !important;
									}	
									.string {
										color: #5ce638 !important;
									}
									.code-indent { 
										padding: 0 0 0 50px;
										@include media(tablet) {
											padding: 0 0 0 85px;
										}
										@include media(mediumDesktop) {
											padding: 0 0 0 85px;
										}         
										@include media(largeDesktop) {
											padding: 0 0 0 85px;
										} 										
									}
									.code-indent-more {
										padding: 0 0 0 90px;
										@include media(tablet) {
											padding: 0 0 0 140px;
										}
										@include media(mediumDesktop) {
											padding: 0 0 0 140px;
										}         
										@include media(largeDesktop) {
											padding: 0 0 0 140px;
										} 										
									}	 	  				
								}
							}
						}
					}
				}

				.example-list {
					list-style-type: decimal;
					margin: 0 auto 15px auto;
					width: 400px;
					li {
						text-align: left;
					}
				}

				.options-text {
					.options-list {
						list-style-type: disc;
						margin: 10px auto 0 auto;
						width: 940px;
						li {
							display: list-item;
							margin: 0 0 10px 0;
							text-align: left;
						}
					}
				}//end .options-text			
			} //end .content
		}//end main	
	}//end .wrapper
}