@import "mixins";
body{
	//Begin slider genral styles
	.slider {
		position: relative;
		.slider-title {
			text-align: center;
			@include clearfix();
		}
		.slider-visible-area {
			overflow: hidden;
			position: relative;
		    	width: auto;		  
		    	.slider-slides {
		    		left: 0;
		    		position: absolute;
		    		top: 0;
		    		div {
		    			//float: left;
		    			display: inline-block;
		    		}
		    		img {
		    			float: left;
		    		}
		    		@include clearfix();
		    	}
		}
		.slider-nav {
			//Begin default navigation with numbers, play/pause, and arrows
			.slider-left-nav {
				float: left;
				.slider-arrows {
					display: inline-block;
					font-size: 30px;
					vertical-align: top;
					zoom: 1;
					a {
						color: #000;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}					
				}
				.slider-numbers {
					display: inline-block;
					margin: 5px 0 0 5px;
					zoom: 1;
				}
			}
			.slider-right-nav {
				float: right;
				.slider-countdown {
					display: inline-block;
					zoom: 1;
				}
				.slider-arrows {
					display: inline-block;
					font-size: 30px;
					vertical-align: top;
					zoom: 1;
					a {
						color: #000;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}					
				}
				.slider-control-nav {
					display: inline-block;
					font-size: 1em;
					margin: 5px 5px 0 0;
					top: 5px;				
					zoom: 1;
					.slider-play-nav {
						display: none;
					}
				}								
			}

			//Begin slider nav as bullets CSS
			.slider-bullets {
				display: block;
				margin: 0 auto;
				text-align: center;
				width: 100%;
				.slider-bullet {
					color: #000;
					cursor: pointer;
					display: inline-block;
					font-size: 35px;
					text-decoration: none;
					zoom: 1;
					.active-slide {
						color: #f00;
					}
				}
			}			
			@include clearfix();
		}
	}	
}